<div class="navbar">
    <div class="logo-holder">
        <img class="logo" src="../../../assets/images/logo.png" alt="">
    </div>
   <div class="nav-section">
    <div class="links">
       
        <div class="link-holder"> <a class="link" routerLink="view-documents">View Uploads </a></div>
   
     </div>
     <div class="user">
         <div class="avatar-holder">
             <img class="avatar" src="../../../assets/images/avatar.png" alt="">
         </div>
         <div class="dropdown">
                 <button class="dropbtn">
                     <img src="../../../assets/images/dropdown-icon.svg" alt="">
                 </button>
                 <div class="dropdown-content">
                   <a href="#">Logout</a>
                 </div>
               </div>
     </div>
   </div>
</div>
<div class="content">
    <div class="card">
        <form action="" class="upload">
            <label for="file">Select document</label>

            <input type="file"
                   id="file" name="file"
                   accept="image/png, image/jpeg">
        </form>
    </div>
</div>