<div class="navbar">
    <div class="logo-holder">
        <img class="logo" src="../../../assets/images/logo.png" alt="">
    </div>
   <div class="nav-section">
    <div class="links">
       
        <div class="link-holder"> <a class="link" routerLink="view-documents">View Uploads </a></div>
   
     </div>
     <div class="user">
         <div class="avatar-holder">
             <img class="avatar" src="../../../assets/images/avatar.png" alt="">
         </div>
         <div class="dropdown">
                 <button class="dropbtn">
                     <img src="../../../assets/images/dropdown-icon.svg" alt="">
                 </button>
                 <div class="dropdown-content">
                   <a href="#">Logout</a>
                 </div>
               </div>
     </div>
   </div>
</div>
<div class="section">
    <div class="table">
        <table>
            <tr>
              <th style="display: flex;">Document Name</th>
              <th>Document Type</th>
              <th>Status</th>
            </tr>
            <tr>
              <td>Mansion Floor Plan</td>
              <td>PDF</td>
              <td>
                <div class="status">
                    <img class="image" src="../../../assets/images/s-failed.png" alt="">
                    <p class="words-rejected">Rejected</p>
                </div>
              </td>
            </tr>
            <tr>
              <td>Bridge Dimensions</td>
              <td>PDF</td>
              <td>
                <div class="status">
                    <img class="image" src="../../../assets/images/s-pending.png" alt="">
                    <p class="words-pending">Pending</p>
                </div>
              </td>
            </tr>
            <tr>
                <td>Home plan</td>
                <td>PDF</td>
                <td>
                    <div class="status">
                        <img class="image" src="../../../assets/images/s-success.png" alt="">
                        <p class="words-success">Accepted</p>
                    </div>
                </td>
              </tr>
          </table>
    </div>
</div>